// will contain theme level / field level changes

:host{
  background-color: white;
}

:host{
    border-style: solid;
    border-color: lightgray;
}

:host(.input-focus) {
    border-color: #4D90FE;
    box-shadow: 0px 0px 5px #4D90FE;
} 

// won't work
// .input-focus {
//   border-color: #4D90FE;
//   box-shadow: 0px 0px 5px #4D90FE;
// } 