// Will contain all structural related styles - will remain same devoid of themes applied

:host{
    border-width: 1px;
    padding: 0.2em;
}

.icon {
    width: 20px;
    padding-right: 25px;
}

:host ::ng-deep input{
    border: none;
    outline: none;
}

:host(.input-focus) {
    outline: none;
    border-width: 1px;
    border-style: solid;
} 