:host{
    border: 1px solid lightgray;
    padding: 0.2em;
}

.icon {
    width: 20px;
    padding-right: 25px;
}

:host ::ng-deep input{
    border: none;
    outline: none;
}

:host(.input-focus) {
    outline: none;
    border: 1px soild #4D90FE;
    box-shadow: 0px 0px 5px #4D90FE;
}