
<i class="icon" [ngClass]="faClass"></i>
<ng-content></ng-content>


<!-- 3 levels  -->
<!-- <div class="col-lg-12">

    <h4> Level 1 : Using fa classes seperately </h4>

    <label for="email"> FA Email: </label>
    <i class="fa fa-envelope"></i>
    <input type="text" placeholder="Enter Email">


    <label for="password"> FA Password: </label>
    <i class="fa fa-unlock-alt"></i>
    <input type="text" placeholder="Enter Password">
</div> -->
<!-- <hr> -->
<!-- <div class="col-lg-12">

    <h4> Level 2: Using ngclass directive to dynamically pass on fa class</h4>

    <label for="email"> FA Email: </label>
    <i [ngClass]="faClass"></i>
    <input type="text" placeholder="Enter Email">

    <caption> Note: ngClass expects object as input so we need to property bind on an object </caption>

</div> -->
<!-- <hr>
<div class="col-lg-12">

    <h4> Level 3: Using For to loop in - Pending </h4>
</div> -->

<!-- <ng-container *ngFor="let inputItem of inputList">
    <label [for]="inputItem.name"> FA {{ inputItem.name }}: </label>
    <i [ngClass]="inputItem.class"></i>
    <input [type]="inputItem.type" [placeholder]="Enter + inputItem.name">
</ng-container> -->

<!-- Angular component styling 

1. selectors - Isolation 

    1.1. host pseudo selector
    -------------------------
        1. Its the default selector provided by angular for a component
        2. It avoids creating/ wrapping inside a div container to style our component
            (instead of styling element inside the component we directly style the host of the component )
        3. It helps to isolate our styling specific to this component 
            so wherever this component is used these styles this avoids dependency of parent component
        

    1.2. host + ng deep selector
    ---------------------------
        1. In a scenario when we apply




-->